* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --background: #141414;
  --dark-grey: #343434;
  --light-grey: #818181;
  --yellow: #fb9b04;
  --white: #ffffff;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  background-color: var(--background);
  height: 700px;
  width: 400px;
  margin: 40px auto;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.output {
  height: 30%;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.output p {
  color: white;
  text-align: right;
  font-size: 60px;
  font-weight: 400;
  width: 100%;
}

.buttons {
  height: 70%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.buttons button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background-color: var(--dark-grey);
  color: white;
  font-size: 1.6rem;
}
.buttons .zero-btn {
  grid-column: 1/3;
  border-radius: 50px;
  text-align: left;
  padding-left: 35px;
}
.buttons button:hover {
  opacity: .7;
}
.buttons .specials {
  background-color: var(--light-grey);
}
.buttons .operators {
  background-color: var(--yellow);
}

@media only screen and (max-width: 450px) {
  .container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    border-radius: 0;
  }
  .output {
    height: 40%;
  }
  .buttons {
    height: 55%;
  }
}